{% extends 'base.html.twig' %}


{% block main %}
    {% if todos %}
        <table id="todos">
            <thead>
            <tr>
                <th width="200">Acitivies</th>
                <th width="200">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.title }}</td>
                    <td><a href="/todo/{{ todo.id }}" class="success button tiny">Show</a></td>
                    <td><a href="#" class="alert button tiny" data-id="{{ todo.id }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no more todos left</p>
    {% endif %}
    <script src="/js/main.js"></script>
{% endblock %}