{% extends 'base.html.twig' %}

{% block title %}Symfony4 Todo App {% endblock %}

{% block body %}
    {% if todos %}
        <table>
            <thead>
            <tr>
                <th width="200">Acitivies</th>
                <th width="200">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo }}</td>
                    <td><a class="success button tiny">Done</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no more todos left</p>
    {% endif %}
{% endblock %}