<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="css/foundation.css">
            <link rel="stylesheet" href="css/app.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <footer>
            Project by eddy &copy; 2018
        </footer>

        {% block javascripts %}
            <script src="js/vendor/jquery.js"></script>
            <script src="js/vendor/what-input.js"></script>
            <script src="js/vendor/foundation.js"></script>
            <script src="js/app.js"></script>
        {% endblock %}
    </body>
</html>
